_site
.sass-cache
.idea
resumecard.iml
/*.iml
Gemfile.lock
.jekyll-cache
/.vs/visieresylab/config/applicationhost.config
/.vs/ProjectSettings.json
/.vs/slnx.sqlite
/.vs/VSWorkspaceState.json
/.vs/visieresylab/v16/.suo
