<div class="container-fluid">

<!-- Row -->
    <div class="row">

<!-- Left Col -->
        <div class="col-md-8">
{% include numbers.html %}
{% include warning.html %}
{% include supportvisieres.html %}
{% include map.html %}
{% include team.html %}
        </div>
<!-- End Left Col -->

<!-- Right Col -->
        <div class="col-md-4">
{% include youtubevideo.html %}
{% include matieres.html %}
{% include types.html %}
{% include supportus.html %}
        </div>
        <!-- End Col -->

    </div>
    <!-- End Row -->



</div>