<!-- Numbers History -->
            <h3 class="title with-icon"><i class="fas fa-key cat-title"></i>Retrouvez tout nos chiffres clés</h3>
            <div class="container-fluid">
                <div class="row-fluid vertical-align">
                    <div class="grid-block">
                        <div class="col-xs-12 col-md-3 numbers">
                            <h3>256</h3>
                            <p style="text-align:center">C'est le nombre de visières fabriquées durant l'opération.</p>
                        </div>
                        <div class="col-xs-12 col-md-3 numbers">
                            <h3>13</h3>
                            <p style="text-align:center">C'est le nombre de jours qu'a duré l'opération.</p>
                        </div>
                        <div class="col-xs-12 col-md-3 numbers">
                            <h3>2,24</h3>
                            <p style="text-align:center">C'est le nombre de kilomètre de plastiques imprimés dans les imprimantes.</p>
                        </div>      
                        <div class="col-xs-12 col-md-3 numbers">
                            <h3 class="numbers">6,5</h3>
                            <p style="text-align:center">C'est le nombre de kilos de plastiques utilisés.</p>
                        </div>
                    </div>
                </div>
            </div>
<!-- End Numbers History -->