<!-- Partenaires -->
<div class="thanks">
    <div class="container-fluid">
                <h2 class="titlethanks"><i class="far fa-heart"></i> Ils nous ont aidé par leurs conseils ou leurs dons et nous les remercions</h2>
                <div class="row-fluid">
                    <div class="col-xs-6 col-md-2">
                        <a href="{{ site.visieressolidaires }}" rel="nofollow norefferer" target="_blank" title="Site des visieres solidaires en AURA"  style="text-align:center"><img src="/assets/img/logovisieresolidaire.png" alt="Logo des visières solidaires"></img></a>
                    </div>
                    <div class="col-xs-6 col-md-2">
                        <a href="{{ site.ynovlyon }}" rel="nofollow norefferer" target="_blank" title="Site de Lyon Ynov Campus"  style="text-align:center"><img src="/assets/img/logolyonynovcampus.png" alt="Logo de lyon ynov campus"></img></a>
                    </div>
                    <div class="col-xs-6 col-md-2">
                        <a href="{{ site.lyoncotecroixrousse }}" rel="nofollow norefferer" target="_blank" title="Site de Lyon côté Croix-Rousse"  style="text-align:center"><img src="/assets/img/logolyoncotecroixrousse.png" alt="Logo de Lyon Côté Croix-Rousse"></img></a>
                    </div>      
                    <div class="col-xs-6 col-md-2">
                        <a href="{{ site.coursierssolidaires }}" rel="nofollow norefferer" target="_blank" title="Facebook des coursiers solidaires de Lyon"  style="text-align:center"><img src="/assets/img/logocoursiersolidaire.png" alt="Logo de coursiers solidaires de Lyon"></img></a>
                    </div>
                    <div class="col-xs-6 col-md-2">
                        <a href="{{ site.rezo1901 }}" rel="nofollow norefferer" target="_blank" title="Site de Rezo 1901"  style="text-align:center"><img src="/assets/img/logorezo1901.png" alt="Logo de Rezo 1901"></img></a>
                    </div>     
                    <div class="col-xs-6 col-md-2">
                        <a href="{{ site.poussieresrues }}" rel="nofollow norefferer" target="_blank" title="Site de Poussières de rues"  style="text-align:center"><img src="/assets/img/logopoussieresderues.png" alt="Logo de Poussières de rues"></img></a>
                    </div>     
                </div>       
    </div>
</div>

<!-- End Partenaires -->