
<!-- Support visieres solidaires  -->    
                                <div class="deviter"></div>    
                <h3 class="title with-icon title"><i class="fas fa-hands-helping cat-title"></i>Supportez l'initiative régionale des visières solidaires</h3>
                        <div class="grid-block">
                        <p>En tant que Fablab indépendant, notre opération s'est inscrite dans la dynamique régionale : https://visieresolidaire-rhonealpes.fr. Vous pouvez soutenir le mouvement via le lien ci-dessous ! </p>
                        <a href="{{ site.supportvisieressolidaire }}" rel="nofollow norefferer" target="_blank" title="Lien pour soutenie les visières solidaires Rhône-Alpes !" type="button" class="btn btn-primary center-block"><i class="far fa-hand-point-right"></i> Soutenez les visières solidaires Rhône-Alpes !</a>
                    </div>  
<!-- End visieres solidaires -->