<!-- Warning  -->
                <div class="container-fluid">
                <div class="row-fluid">
                                    <div class="deviter"></div>
                <h3 class="title with-icon titlered"><i class="fas fa-exclamation cat-title-red"></i> Message sanitaire à l'attention des utilisateurs de visières !</h3>
                        <div class="grid-block">
                        <p>Ces visières anti-projections ne protègent - par définition - que contre les projections (postillons, salive, sécrétions, etc). En aucun cas elles ne peuvent remplacer les masques FFP2 ou tout autre type de masque médical homologué. Elles ne viennent qu’en complément de ces masques professionnels et ajoutent une protection supplémentaire. Elles permettent également d’empêcher - par reflex – de porter ses mains à son visage.</p>
                        <div style="text-align: center;"
                        <a href="{{ site.warningsourcevisieres }}" rel="nofollow norefferer" target="_blank" title="Source du message d'avertissement sur le site des visières solidaires !">Source du message d'avertissement sur le site des visières solidaires !</a>
                        </div>
                    </div>
                </div>
            </div>
<!-- End Warning -->